<div class="loaderBody" ng-show="loading" >
	<div class="loader">
		<div class="loader__bar"></div>
		<div class="loader__bar"></div>
		<div class="loader__bar"></div>
		<div class="loader__bar"></div>
		<div class="loader__bar"></div>
		<div class="loader__ball"></div>
	</div>
</div>

<div ng-show="!loading" class="container" style="padding: 32px">
	<div class="row">
		<div class="col-md-6" style="height: 560px">
			<h3>Spin</h3>
			<div id="chartParent">
				<div id="chart"></div>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="row" style="padding-bottom: 52px">
				<h2>Today:</h2>
				<table style="width: 600px">
					<thead>
						<tr>
							<th style="min-width: 42px">Id</th>
							<th style="min-width: 42px">Name</th>
							<th style="min-width: 42px">Date</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="data in today">
							<td style="min-width: 42px">{{data.UserId}}</td>
							<td style="min-width: 42px">{{data.Name}}</td>
							<td style="min-width: 42px">{{data.Rota | parseDate}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row" style="padding-bottom: 32px">
				<div>
					<h3>This week:</h3>

					<table style="width: 600px">
						<thead>
							<tr>
								<th style="min-width: 42px">Id</th>
								<th style="min-width: 42px">Name</th>
								<th style="min-width: 42px">Date</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="data in thisWeekData">
								<td style="min-width: 42px">{{data.UserId}}</td>
								<td style="min-width: 42px">{{data.Name}}</td>
								<td style="min-width: 42px">{{data.Rota | parseDate}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!--<div class="col-md-6"></div>
		<div class="col-md-6">
			<h3>This week:</h3>

			<table style="width: 600px">
				<thead>
					<tr>
						<th style="min-width: 42px">Id</th>
						<th style="min-width: 42px">Name</th>
						<th style="min-width: 42px">Date</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="data in thisWeekData">
						<td style="min-width: 42px">{{data.UserId}}</td>
						<td style="min-width: 42px">{{data.Name}}</td>
						<td style="min-width: 42px">{{data.Rota | parseDate}}</td>
					</tr>
				</tbody>
			</table>
		</div>-->
		
	</div>
	<div class="row">
		<div class="col-md-6">
			<button class="btn btn-primary" ng-click="reset()">reset</button>
			<button class="btn btn-primary" ng-click="addDate()">Tomorrow</button>
		</div>
		<div class="col-md-6">
			<p class="float-right"><strong>Date: </strong> {{pickedDay | date}}</p>
		</div>
	</div>
</div>
